
 .header {
    background: green;
 	  text-align: center;
 	  width: 80%;
    margin: auto;
    padding: 20px;
    border: 3px solid #666;
 }
 
.p_class {
    text-align: left;
    color: blue;
} 

#container{
  width: 70%;
  margin: auto;
  padding: 30px;
  border: 1px solid #333;
  }

  .main_body{
  background: #eeeeee;
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 30px;
  border: 1px solid #333;
  }

.footer {
    background: yellow;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 3px solid #666;
 }
